<!DOCTYPE html>
<html lang="en">
<head>
  <title>Calendar Generator RnD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik+Mono+One" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="genstyle.css">
  <link rel="stylesheet" href="hover.css">
  
  <!-- Calendar Widget -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  
  <!-- Custom scripts -->
  <script src="uniqueify.js"></script>
  <script src="converter.js"></script>
  <script src="download.js"></script>
  <script src="post.js"></script>
  <script src="countryselect.js"></script>
  <script src="addHoliday.js"></script>
  <script src="edit.js"></script>
  <script>
	var globres; //for global access to form data
	
	var customcount = 0;
	
	var countries = [{iso: 'DE', tname: 'Germany'}, 
							{iso: 'UK', tname: 'United Kingdom'},
							{iso: 'NL', tname: 'Netherlands'},		
							{iso: 'BG', tname: 'Bulgaria'},
							{iso: 'SK', tname: 'Slovakia'},
							{iso: 'US', tname: 'United States'},
							{iso: 'IN', tname: 'India'},
							{iso: 'IL', tname: 'Israel'},
							{iso: 'MY', tname: 'Malaysia'},
							
							{iso: 'MX', tname: 'Mexico'},
							{iso: 'AT', tname: 'Austria'},
							{iso: 'CH', tname: 'Switzerland'},
							{iso: 'BE', tname: 'Belgium'}
					];
	var rndcount = 9;
	

		
	
	
	$(document).ready(function (){
			$("#success").hide();
			$("#error").hide();
			$("#review").hide();
			$("#successadd").hide();
			$("#successedit").hide();
			$("#loadanimation").hide();
		
		
		$("#download").click(function(){ //when download button is clicked, convert to ics and download
			let p = convertToICS(globres);
			var calname = $("#calname").val();
			download(calname + '.ics', p);
			$("#success").html("<p class='mainheading'><b>Thanks for using the calendar generator. Your calendar has been downloaded.</b></p>");
			$("#review").html("<a style='text-decoration: none;' href='gen.html'><button class='btn btn-lg btn-info center-block'>Back</button></a><br>");
		});
		$("#back").click(function(){
			if(customcount == 0){
				$("#review").hide();
				$("#round1").show();
				$("#success").hide();
			}else{ //open modal, sets custom count to 0
				$("#backModal").modal('show');
			}
		});
		$("#backsure").click(function(){ //this button goes back without anymore warning
			$("#review").hide();
			$("#round1").show();
			$("#success").hide();
			customcount = 0;
			$("#backModal").modal('hide');
		});
	
		
		$('[data-toggle="tooltipname"]').tooltip();
		$('[data-toggle="tooltiptname"]').tooltip();
		$('[data-toggle="tooltipregion"]').tooltip();
		$('[data-toggle="tooltipdate"]').tooltip();   
	
		genCountSelect("#countryselect", rndcount, initRndChecked(rndcount, false));
		
		$("#showAll").change(function(){
			if($("#showAll").prop("checked")){
				if($("#selectAllCountries").prop("checked")){
					genCountSelect("#countryselect", countries.length, initRndChecked(countries.length, true));
					return;
				}
				genCountSelect("#countryselect", countries.length, getRndChecked());
			}else{
				if($("#selectAllCountries").prop("checked")){
					genCountSelect("#countryselect", rndcount, initRndChecked(rndcount, true));
					return;
				}
				genCountSelect("#countryselect", rndcount, getRndChecked());
			}
		});
		
		//select all checkbox for countrie select
		$("#selectAllCountries").change(function(){
			if($("#selectAllCountries").prop("checked")){ //select all
				if($("#showAll").prop("checked")){
					genCountSelect("#countryselect", countries.length, initRndChecked(countries.length, true));
				}else{
					genCountSelect("#countryselect", rndcount, initRndChecked(rndcount, true));
				}
			}else{ //unselect all
				if($("#showAll").prop("checked")){
					genCountSelect("#countryselect", countries.length, initRndChecked(countries.length, false));
				}else{
					genCountSelect("#countryselect", rndcount, initRndChecked(rndcount, false));
				}
			}
		});
		
		//select all holidays for holiday select
		$("#selectAllHolidays").change(function() {
			if($("#selectAllHolidays").prop("checked")){
				globres = includeGlobres(globres, true);
				$("#preview").html(convertToTable(globres));
			}else{
				globres = includeGlobres(globres, false);
				$("#preview").html(convertToTable(globres));
			}
		});
		
		function includeGlobres(obj, bool){
			for(var i = 0; i < obj.num; i++){
				obj.holidays[i].include = bool;
			}
			return obj;
		}
		
		function getRndChecked(){
			var rndchecked = new Array(rndcount);	
				for(var i = 0; i < rndcount; i++){
					if($("#country" + i).prop("checked")){
						rndchecked[i] = true;
					}else{ rndchecked[i] = false;}
				}
			return rndchecked;
		}
		function initRndChecked(num, bool){
			var rndchecked = new Array(rndcount);
			for(var i = 0; i < num; i++){
				rndchecked[i] = bool;
			}
			return rndchecked;
		}
		
		$("#header").click(function(){
			$("#back").click();
		});
		
		
	});
	
	</script>
</head>
<body>

<!-- date picker script -->
<script>
    $(document).ready(function(){
      var date_input=$('input[name="datestart"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
	  $('input[name="datestart"]').datepicker(options);
	  $('input[name="dateend"]').datepicker(options);
	  $('input[name="editdate"]').datepicker(options);
	  $('input[name="adddate"]').datepicker(options);
    })
	

</script>


<div id="header" class="jumbotron text-center header designcolor" style="height: 100px;"id="header">  
  <h2 class="mainheading headerh" style="color:#fff;margin-top: 0;">Calendar Generator</h2>

</div>

<div class="container"><!-- Error -->
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-danger" id="error"></div>
		</div>
	</div>
</div>
<div class="container"><!-- Sucess -->
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-success" id="success"></div>
		</div>
	</div>
</div>

<div ng-app="app" ng-controller="ctrl" ng-init="calname='yourcalendar';requesttype='area';year=2017">

<div class="container well" id="round1">
	
	<!-- Calendar Name -->
	<div class="row" style="margin-bottom:10px;">
		<div class="col-sm-12">
			<p class="maintext"><b>Set calendar name:</b><br>
			<form name="calnameform">
			
				<input title="Define the calendar name (shown as filename and in outlook als calendar title)" type="text" ng-model="calname" name="calname" id="calname" ng-pattern="/^[A-Za-z0-9\s]+$/" required>
				<span ng-show="!calnameform.calname.$valid"><img class="iconsmall" src="resized/invalid.png"></span>
				<span ng-show="calnameform.calname.$valid"><img class="iconsmall" src="resized/valid.png"></span>
			
			</form>
			</p>
		</div>
	</div>
	
	<p class="maintext"><b>Select desired RnD locations:</b><br></p>
	
	<div id="countryselect">
		<!-- Filley by automated process -->
	</div>
	<p class="maintext" style="margin-bottom: 10px;"><input title="Use this to select / unselect all locations at once." style='cursor: pointer;' type="checkbox" id="selectAllCountries"><b> Select / Unselect all</b></p>
	<p class="maintext" style="margin-bottom: 40px;"><input title="Expands the table and shows non RnD locations of Software AG" style='cursor: pointer;' type="checkbox" id="showAll"><b> Show more Software AG locations</b></p>
	
	
	<p class="maintext"><b>Select Date Range:</b><br></p>
	<!-- Dates (Start / End) -->
	<div class="row" style="margin-bottom:40px;">
		<div class="col-sm-12" ng-show="requesttype == 'area'">
			<p class="maintext">
				<form name="area">
					<input title="Interval start date in ISO-8601 format YYYY-MM-DD" type="text" ng-model="datestart" name="datestart" id="datestart" ng-pattern="/^(\d{4}\-\d\d-\d\d)?$/" required>
					<span ng-show="area.datestart.$error.pattern || area.datestart.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
					<span ng-show="!area.datestart.$error.pattern && !area.datestart.$error.required"><img class="iconsmall" src="resized/valid.png"></span>
					
					<input title="Interval end date in ISO-8601 format YYYY-MM-DD" type="text" ng-model="dateend" name="dateend" id="dateend" ng-pattern="/^(\d{4}\-\d\d-\d\d)?$/" required>
					<span ng-show="area.dateend.$error.pattern || area.dateend.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
					<span ng-show="!area.dateend.$error.pattern && !area.dateend.$error.required"><img class="iconsmall" src="resized/valid.png"></span>
					
				</form>
			</p>
		</div>
	</div>

	
	
	<div class="row">
		
		<div class="col-sm-2" style="margin-top: 10px;"><a href="gen.html"><button title="Resets the input form, start creating a new calendar." class="btn btn-info">Reset</button></a></div>
		
		<div class="col-sm-4"><img class="center-block" style="width: 5em; height: 5em;" src="resized/loading.gif" id="loadanimation"></div>
		
		<div class="col-sm-3" style="margin-top: 10px;"><p class="maintext"><button title="Preview the calendar: add custom holidays, uncheck wrong holidays and edit holidays." ng-disabled="(requesttype == 'area' && !area.$valid) || !calnameform.$valid" class='btn btn-warning pull-right' style='width:200px;' id='previewbutton'>Preview</button></p></div>
		
		<div class="col-sm-3">
			<p class="maintext">
			<!-- Create Hidden Form, that is ready to be posted -->

			<form id="final">
				<input class="hidden" type="text" name="requesttype" value="{{requesttype}}">
				<input class="hidden" type="text" name="countries" id='finalcountries'>
				<input class="hidden" type="text" name="year" value="{{year}}">
				<input class="hidden" type="text" name="start" value="{{datestart}}">
				<input class="hidden" type="text" name="end" value="{{dateend}}">
				<input class="hidden" type="text" name="responsetype" value="json">
				
				<!-- Submit button -->
				<button title="Direct download of calendar without review." class="btn btn-default pull-right" style="width:200px;" ng-disabled="(requesttype == 'area' && !area.$valid) || !calnameform.$valid" type="submit">Download</button>
				
			</form>
			
			</p>
		</div>
		</div>
</div>

<div class="container well" id="review">
	
	<p class="maintext" style="margin-bottom: 10px;"><input title="Select / unselect all holidays at once." style='cursor: pointer;' type="checkbox" id="selectAllHolidays" checked><b> Select / Unselect all</b></p>

	<!-- For previewing the calendar, is filled by js function -->
	<div id="preview">
	</div>
	
	<div class="row" style="margin-top:40px;" id="previewmenubottom">
		
		<div class="col-sm-6">
			<button title="Go back to previous page." class='btn btn-info' style='font-size: 1em;' id='back'><span class='glyphicon glyphicon-backward'></span> Back</button>
		</div>
		<div class="col-sm-3">
			<button title="Download calendar to pc." ng-disabled="!calnameform.$valid" class='btn btn-success pull-right' style='width: 200px;' id='download'>Download</button>
		</div>
		<div class="col-sm-3">
			<!-- Modal trigger -->
			<button title="Add a custom holiday to the calendar." type="button" style="width:200px;" class="btn btn-warning pull-right" data-toggle="modal" data-target="#addModal">Add holiday</button>
		</div>
	</div>
	
	<div class="modal fade" id="addModal" role="dialog">
	<div class="modal-dialog">
	<!-- Allows addition of new holiday -->
	<div id="previewadd" class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="alert alert-success" id="successadd"></div>
				<p class="mainheading">Add new holidays</p>
			</div>
			
			<div class="modal-body">
				<p class="maintext">
					<form id="addholiday" name="addholiday">
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltipname" title="Name in original language."><b>Org. Name:</b></a></div><div class="col-sm-9"><input title="Name in original language." type="text" ng-model="addname" name="addname" id="addname" required>
						<span ng-show="addholiday.addname.$error.required && !addholiday.addname.$pristine"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!addholiday.addname.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltiptname" title="Name of holiday in english. This name will be shown as calendar event title."><b>Eng. Name:</b></a></div><div class="col-sm-9"><input title="Name of holiday in english. This name will be shown as calendar event title." type="text" ng-model="addtname" name="addtname" id="addtname" required>
						<span ng-show="addholiday.addtname.$error.required && !addholiday.addtname.$pristine"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!addholiday.addtname.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltipregion" title="Region where holiday is observed. I. e: 'Nationwide' or 'California only'."><b>Region:</b></a></div><div class="col-sm-9"><input title="Region where holiday is observed." type="text" ng-model="addregion" name="addregion" id="addregion" required>
						<span ng-show="addholiday.addregion.$error.required && !addholiday.addregion.$pristine"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!addholiday.addregion.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltipdate" title="Date of holiday in ISO-8601 format: YYYY-MM-DD"><b>Date:</b></a></div><div class="col-sm-9"><input title="Date of holiday in ISO-8601 format: YYYY-MM-DD" type="text" ng-model="adddate" ng-pattern="/^(\d{4}\-\d\d-\d\d)?$/" name="adddate" id="adddate" required>
						<span ng-show="addholiday.adddate.$error.pattern || addholiday.adddate.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!addholiday.adddate.$error.pattern && !addholiday.adddate.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						<!-- Holiday Add submit button -->
						<button title="Adds the new holiday and closes the window." ng-disabled="!addholiday.$valid" class="btn btn-warning center-block" style="width:200px;" type="submit">Save & close</button>
					</form>
				</p>
			</div>
	</div>
	</div>
	</div>

	<div class="modal fade" id="editModal" role="dialog">
	<div class="modal-dialog">
	<!-- Allows editing of new holiday -->
	<div id="previewedit" class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="alert alert-success" id="successedit"></div>
				<p class="mainheading">Edit selected holiday</p>
			</div>
			
			<div class="modal-body">
				<p class="maintext">
					<form id="editholiday" name="editholiday">
						<!-- hidden field for id, or use global variable? -->
						<input type="text" id="editid" name="editid" class="hidden">
					
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltipname" title="Name in original language."><b>Org. Name:</b></a></div><div class="col-sm-9"><input title="Name in original language." type="text" ng-model="editname" name="editname" id="editname" required>
						<span ng-show="editholiday.editname.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!editholiday.editname.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltiptname" title="Name of holiday in english. This name will be shown as calendar event title."><b>Eng. Name:</b></a></div><div class="col-sm-9"><input title="Name of holiday in english. This name will be shown as calendar event title." type="text" ng-model="edittname" name="edittname" id="edittname" required>
						<span ng-show="editholiday.edittname.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!editholiday.edittname.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltipregion" title="Region where holiday is observed. 'Nationwide' or 'California only'."><b>Region:</b></a></div><div class="col-sm-9"><input title="Region where holiday is observed."type="text" ng-model="editregion" name="editregion" id="editregion" required>
						<span ng-show="editholiday.editregion.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!editholiday.editregion.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltipdate" title="Date of holiday in ISO-8601 format: YYYY-MM-DD"><b>Date:</b></a></div><div class="col-sm-9"><input title="Date of holiday in ISO-8601 format: YYYY-MM-DD" type="text" ng-model="editdate" ng-pattern="/^(\d{4}\-\d\d-\d\d)?$/" name="editdate" id="editdate" required>
						<span ng-show="editholiday.editdate.$error.pattern || editholiday.editdate.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!editholiday.editdate.$error.pattern && !editholiday.editdate.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						<!-- Holiday Add submit button -->
						<button title="Saves the edits and closes the window" ng-disabled="!editholiday.$valid" class="btn btn-warning center-block" style="width:200px;" type="submit">Save & Close</button>
					</form>
				</p>
			</div>
	</div>
	</div>
	</div>

</div>

</div>
</div> <!-- div end from ng -->

<div class="container">
<div class="modal fade" id="backModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button title="Close" type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Warning</h4>
			</div>
			<div class="modal-body">
				<p class="maintext">Going back deletes all custom holidays and changes. Are you sure you want to proceed?</p><br>
				<button title="Goes back to start page." class='btn btn-danger center-block' style='width:200px;' id='backsure'><span class='glyphicon glyphicon-backward'></span> Yes</button>
			</div>
		</div>
	</div>
</div></div>

<script>
var app = angular.module('app', []);
app.controller('ctrl', function($scope) {
    
	//initialize values
	let d = new Date();
	let p = d.toISOString().substring(0, 4);
	var start = p + "-01-01";
	var end = p + "-12-31";
	
	$scope.datestart = start;
	$scope.dateend = end;
	$scope.adddate = start;
});
</script>
<a id="button"></a>
</body>
</html>