<!DOCTYPE html>
<html lang="en">
<head>
  <title>Calendar Generator RnD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik+Mono+One" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="genstyle.css">
  <link rel="stylesheet" href="hover.css">
  
  <!-- Calendar Widget -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  
  <!-- Custom scripts -->
  <script src="converter.js"></script>
  <script src="download.js"></script>
  <script src="post.js"></script>
  <script src="countryselect.js"></script>
  <script src="addHoliday.js"></script>
  <script src="edit.js"></script>
  <script>
	var globres; //for global access to form data
	
	var customcount = 0;
	
	var countries = [{iso: 'DE', tname: 'Germany'}, 
							{iso: 'UK', tname: 'United Kingdom'},
							{iso: 'NL', tname: 'Netherlands'},		
							{iso: 'BG', tname: 'Bulgaria'},
							{iso: 'SK', tname: 'Slovakia'},
							{iso: 'US', tname: 'United States'},
							{iso: 'IN', tname: 'India'},
							{iso: 'IL', tname: 'Israel'},
							{iso: 'MY', tname: 'Malaysia'},
							
							{iso: 'MX', tname: 'Mexico'},
							{iso: 'AT', tname: 'Austria'},
							{iso: 'CH', tname: 'Switzerland'},
							{iso: 'BE', tname: 'Belgium'}
					];
	var rndcount = 9;
		
		
	
	
	$(document).ready(function (){
		$("#download").click(function(){ //when download button is clicked, convert to ics and download
			let p = convertToICS(globres);
			var calname = $("#calname").val();
			download(calname + '.ics', p);
		});
		$("#back").click(function(){
			if(customcount == 0){
				$("#review").addClass("hidden");
				$("#round1").removeClass("hidden");
				$("#success").addClass("hidden");
			}else{ //open modal, sets custom count to 0
				$("#backModal").modal('show');
			}
		});
		$("#backsure").click(function(){ //this button goes back without anymore warning
			$("#review").addClass("hidden");
			$("#round1").removeClass("hidden");
			$("#success").addClass("hidden");
			customcount = 0;
			$("#backModal").modal('hide');
		});
	
		
		$('[data-toggle="tooltipname"]').tooltip();
		$('[data-toggle="tooltiptname"]').tooltip();
		$('[data-toggle="tooltipregion"]').tooltip();
		$('[data-toggle="tooltipdate"]').tooltip();   
	
		genCountSelect("#countryselect", rndcount); //on load
		
		$("#showAll").click(function(){
			if($("#showAll").prop("checked")){
				genCountSelect("#countryselect", countries.length);
			}else{
				genCountSelect("#countryselect", rndcount);
			}
		});
		
		$("#header").click(function(){
			$("#back").click();
		});
	});
	
	</script>
</head>
<body>

<!-- date picker script -->
<script>
    $(document).ready(function(){
      var date_input=$('input[name="datestart"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
	  $('input[name="datestart"]').datepicker(options);
	  $('input[name="dateend"]').datepicker(options);
	  $('input[name="editdate"]').datepicker(options);
	  $('input[name="adddate"]').datepicker(options);
    })
	

</script>


<div id="header" class="jumbotron text-center header designcolor" style="height: 100px;"id="header">  
  <h2 class="mainheading headerh" style="color:#fff;margin-top: 0;">Calendar Generator</h2>

</div>

<div class="container"><!-- Error -->
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-danger hidden" id="error"></div>
		</div>
	</div>
</div>
<div class="container"><!-- Sucess -->
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-success hidden" id="success"></div>
		</div>
	</div>
</div>

<div ng-app="app" ng-controller="ctrl" ng-init="calname='yourcalendar';requesttype='area';year=2017">

<div class="container well" id="round1">
	<p class="maintext"><input type="checkbox" id="showAll"><b> Show all Software AG locations</b></p>
	<p class="maintext"><b>Select desired RnD locations:</b><br></p>
	<div id="countryselect">
		
	</div>

	
	<p class="maintext"><b>Select <a href="index.html#parameters">Date Range</a>:</b><br></p>
	<!-- Dates (Start / End) -->
	<div class="row">
		<div class="col-sm-12" ng-show="requesttype == 'area'">
			<p class="maintext">
				Start / End date in ISO-8601 10 digit format YYYY-MM-DD:
				<form name="area">
					<input type="text" ng-model="datestart" name="datestart" id="datestart" ng-pattern="/^(\d{4}\-\d\d-\d\d)?$/" required>
					<span ng-show="area.datestart.$error.pattern || area.datestart.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
					<span ng-show="!area.datestart.$error.pattern && !area.datestart.$error.required"><img class="iconsmall" src="resized/valid.png"></span>
					
					<input type="text" ng-model="dateend" name="dateend" id="dateend" ng-pattern="/^(\d{4}\-\d\d-\d\d)?$/" required>
					<span ng-show="area.dateend.$error.pattern || area.dateend.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
					<span ng-show="!area.dateend.$error.pattern && !area.dateend.$error.required"><img class="iconsmall" src="resized/valid.png"></span>
					
				</form>
			</p>
		</div>
	</div>

	<!-- Calendar Name -->
	<div class="row" style="margin-bottom:40px;">
		<div class="col-sm-12">
			<p class="maintext"><b>Set calendar name:</b><br>
			<form name="calnameform">
			
				<input  type="text" ng-model="calname" name="calname" id="calname" ng-pattern="/^[A-Za-z0-9\s]+$/" required>
				<span ng-show="!calnameform.calname.$valid"><img class="iconsmall" src="resized/invalid.png"></span>
				<span ng-show="calnameform.calname.$valid"><img class="iconsmall" src="resized/valid.png"></span>
			
			</form>
			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-5">
			<p class="maintext">
			<!-- Create Hidden Form, that is ready to be posted -->

			<form id="final">
				<input class="hidden" type="text" name="requesttype" value="{{requesttype}}">
				<input class="hidden" type="text" name="countries" id='finalcountries'>
				<input class="hidden" type="text" name="year" value="{{year}}">
				<input class="hidden" type="text" name="start" value="{{datestart}}">
				<input class="hidden" type="text" name="end" value="{{dateend}}">
				<input class="hidden" type="text" name="responsetype" value="json">
				
				<!-- Submit button -->
				<button class="btn btn-success center-block" style="width:200px;" ng-disabled="(requesttype == 'area' && !area.$valid) || !calnameform.$valid" type="submit">Create Calendar</button>
				
			</form>
			
			</p>
		</div>
		<div class="col-sm-2"><img class="center-block hidden" style="width: 5em; height: 5em;" src="resized/loading.gif" id="loadanimation"></div>
		<div class="col-sm-5" style="margin-top: 10px;"><p class="maintext"><button ng-disabled="(requesttype == 'area' && !area.$valid) || !calnameform.$valid" class='btn btn-info center-block' style='width:200px;' id='previewbutton'>Preview Calendar</button></p></div>
	</div>
</div>

<div class="container well hidden" id="review">
	<div class="row" style="margin-bottom:40px;">
		<div class="col-sm-4">
			<button ng-disabled="!calnameform.$valid" class='btn btn-success center-block' style='width:200px;' id='download'>Download</button>
		</div>
		<div class="col-sm-4">
			<!-- Modal trigger -->
			<button type="button" class="btn btn-info center-block" data-toggle="modal" data-target="#addModal">Add custom holiday</button>
		</div>
		<div class="col-sm-4">
			<button class='btn btn-warning center-block' style='width:200px;' id='back'>Back</button>
		</div>
	</div>
	

	<!-- For previewing the calendar, is filled by js function -->
	<div id="preview">
	</div>
	
	
	<div class="modal fade" id="addModal" role="dialog">
	<div class="modal-dialog">
	<!-- Allows addition of new holiday -->
	<div id="previewadd" class="modal-content">
			<div class="modal-header">
				<div class="alert alert-success hidden" id="successadd"></div>
				<p class="mainheading">Add new holidays</p>
			</div>
			
			<div class="modal-body">
				<p class="maintext">
					<form id="addholiday" name="addholiday">
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltipname" title="Name in original language."><b>Org. Name:</b></a></div><div class="col-sm-9"><input type="text" ng-model="addname" name="addname" id="addname" required>
						<span ng-show="addholiday.addname.$error.required && !addholiday.addname.$pristine"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!addholiday.addname.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltiptname" title="Name of holiday in english. This name will be shown as calendar event title."><b>Eng. Name:</b></a></div><div class="col-sm-9"><input type="text" ng-model="addtname" name="addtname" id="addtname" required>
						<span ng-show="addholiday.addtname.$error.required && !addholiday.addtname.$pristine"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!addholiday.addtname.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltipregion" title="Region where holiday is observed. I. e: 'Nationwide' or 'California only'."><b>Region:</b></a></div><div class="col-sm-9"><input type="text" ng-model="addregion" name="addregion" id="addregion" required>
						<span ng-show="addholiday.addregion.$error.required && !addholiday.addregion.$pristine"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!addholiday.addregion.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltipdate" title="Date of holiday in ISO-8601 format: YYYY-MM-DD"><b>Date:</b></a></div><div class="col-sm-9"><input type="text" ng-model="adddate" ng-pattern="/^(\d{4}\-\d\d-\d\d)?$/" name="adddate" id="adddate" required>
						<span ng-show="addholiday.adddate.$error.pattern || addholiday.adddate.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!addholiday.adddate.$error.pattern && !addholiday.adddate.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						<!-- Holiday Add submit button -->
						<button ng-disabled="!addholiday.$valid" class="btn btn-info center-block" style="width:200px;" type="submit">Add Holiday</button>
					</form>
				</p>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>

	</div>
	</div>
	</div>

	<div class="modal fade" id="editModal" role="dialog">
	<div class="modal-dialog">
	<!-- Allows editing of new holiday -->
	<div id="previewedit" class="modal-content">
			<div class="modal-header">
				<div class="alert alert-success hidden" id="successadd"></div>
				<p class="mainheading">Edit selected holiday</p>
			</div>
			
			<div class="modal-body">
				<p class="maintext">
					<form id="editholiday" name="editholiday">
						<!-- hidden field for id, or use global variable? -->
						<input type="text" id="editid" name="editid" class="hidden">
					
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltipname" title="Name in original language."><b>Org. Name:</b></a></div><div class="col-sm-9"><input type="text" ng-model="editname" name="editname" id="editname" required>
						<span ng-show="editholiday.editname.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!editholiday.editname.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltiptname" title="Name of holiday in english. This name will be shown as calendar event title."><b>Eng. Name:</b></a></div><div class="col-sm-9"><input type="text" ng-model="edittname" name="edittname" id="edittname" required>
						<span ng-show="editholiday.edittname.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!editholiday.edittname.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltipregion" title="Region where holiday is observed. 'Nationwide' or 'California only'."><b>Region:</b></a></div><div class="col-sm-9"><input type="text" ng-model="editregion" name="editregion" id="editregion" required>
						<span ng-show="editholiday.editregion.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!editholiday.editregion.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						
						<div class="row">
						<div class="col-sm-3"><a data-toggle="tooltipdate" title="Date of holiday in ISO-8601 format: YYYY-MM-DD"><b>Date:</b></a></div><div class="col-sm-9"><input type="text" ng-model="editdate" ng-pattern="/^(\d{4}\-\d\d-\d\d)?$/" name="editdate" id="editdate" required>
						<span ng-show="editholiday.editdate.$error.pattern || editholiday.editdate.$error.required"><img class="iconsmall" src="resized/invalid.png"></span>
						<span ng-show="!editholiday.editdate.$error.pattern && !editholiday.editdate.$error.required"><img class="iconsmall" src="resized/valid.png"></span></div>
						</div><br>
						<!-- Holiday Add submit button -->
						<button ng-disabled="!editholiday.$valid" class="btn btn-warning center-block" style="width:200px;" type="submit">Save changes</button>
					</form>
				</p>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close and discard changes</button>
			</div>

	</div>
	</div>
	</div>

</div>

</div>
</div> <!-- div end from ng -->

<div class="container">
<div class="modal fade" id="backModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Warning</h4>
			</div>
			<div class="modal-body">
				<p class="maintext">Going back deletes all custom holidays and changes. Are you sure you want to proceed?</p><br>
				<button class='btn btn-danger center-block' style='width:200px;' id='backsure'>Back</button>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div></div>

<script>
var app = angular.module('app', []);
app.controller('ctrl', function($scope) {
    
	//initialize values
	let d = new Date();
	let p = d.toISOString().substring(0, 4);
	var start = p + "-01-01";
	var end = p + "-12-31";
	
	$scope.datestart = start;
	$scope.dateend = end;
	$scope.adddate = start;
});
</script>

</body>
</html>