body{
  		 overflow-x: hidden;
  	}
  	.container{
  		margin-top: 2em;
  		margin-bottom: 3em;
  	}
  	.well{
  		margin-bottom: 5em;
  		line-height: 3em;
  	}
  	.maintext{
         font-family: 'Roboto Mono', sans-serif;
         font-size: 18px;
         margin-bottom: 1em;  	
  	}
  	.statistics{
  		font-size: 28px;
  		margin-bottom: 0.5em;
  	}
  	.header{
  		border-bottom: 3px solid #FE9A2E;
  	}
  	.footer{
  		margin-bottom: 0; 
  		background-color: #333;
  		padding-top: 0; 
  		border-top: 3px solid #FE9A2E;
  	}
  	.footertext{
  		color: #ffffff;
  		padding-left: 4em;
  		padding-right: 4em;
  		padding-top: 2em;
  	}
  	.impress{
  		color: rgb(82, 79, 79);
  		text-decoration: underline;
  		padding-top: 1em;
  	}
  	.mainheading{
  		font-family: 'Rubik Mono One', sans-serif;
  		margin-bottom: 1em;
  	}
  	.headerh{
  		margin-bottom: 0;
  	}
  	.designcolor{
  		background-color: rgba(249, 209, 0, 0.6);
  	}
  	.abutton{
  		font-family: 'Rubik Mono One', sans-serif;
  		font-size: 26px;
  		padding-top: 0.4em;
  		display:block;
  		color:#333;
  	}
  	.abutton:hover{
  		color:#333;
  	}
  	.box{
  		width:320px;
  		height:52px;
  		vertical-align: middle;
  	}