body{
  		 overflow-x: hidden;
  	}
  	.container{
  		margin-top: 2em;
  		margin-bottom: 3em;
  	}
  	.navbar{
  		
  	}
  	.navbar-left{
  		padding-left: 0;
  	}
  	.navbar-right{
  		padding-right: 0;
  		margin-right: 0;
  	}
  	.well{
  		margin-bottom: 5em;
  		line-height: 3em;
  	}
  	.maintext, button{
         font-family: 'Roboto Mono', sans-serif;
         font-size: 18px;
         margin-bottom: 1em;  	
  	}
  	.statistics{
  		font-size: 28px;
  		margin-bottom: 0.5em;
  	}
  	.header{
  		border-bottom: 3px solid #FE9A2E;
  	}
  	.footer{
  		margin-bottom: 0; 
  		background-color: #333;
  		padding-top: 0; 
  		border-top: 3px solid #FE9A2E;
  	}
  	.footertext{
  		color: #ffffff;
  		padding-left: 4em;
  		padding-right: 4em;
  		padding-top: 2em;
  	}
  	.impress{
  		color: rgb(82, 79, 79);
  		padding-top: 1em;
  	}
  	.mainheading{
  		font-family: 'Rubik Mono One', sans-serif;
  		margin-bottom: 1em;
  	}
  	.headerh{
  		margin-bottom: 0;
  		color: #FFFFFF;
  	}
  	.designcolor{
  		background-color: rgba(249, 209, 0, 0.6);
  	}
  	.abutton{
  		font-family: 'Rubik Mono One', sans-serif;
  		font-size: 26px;
  		padding-top: 0.4em;
  		display:block;
  		color:#333;
  	}
  	.abutton:hover{
  		color:#333;
  		text-decoration: none;
  	}
  	.apressed{
  		font-size: 24px;
  	}
  	.box, button{
  		height:52px;
  		vertical-align: middle;
  		border-right: 5px solid rgba(51, 51, 51, 0.47);
  		border-bottom: 5px solid rgba(51, 51, 51, 0.29);
  		border-top:2px solid rgba(51, 51, 51, 0.47);
  		border-left:2px solid rgba(51, 51, 51, 0.29);
  		border-radius: 0 0 5px 0;
  	}
  	.boxborder{
  		border-right: 3px solid #FE9A2E;
  		border-bottom: 3px solid #FE9A2E;
  	}
  	.boxpressed{
  		border-right: 3px solid rgba(51, 51, 51, 0.47);
  		border-bottom: 3px solid rgba(51, 51, 51, 0.29);
  	}
  	
  	.circle{
  		width: 0.8em;
  		height: 0.8em;
  		border-radius: 50%;
  		display: inline-block;
  	}
  	.green{
  		background-color: rgba(44, 195, 44, 0.66);
  	}
  	.orange{
  		background-color: #fe9a2e;
  	}
  	.red {
  		background-color: rgba(241, 50, 10, 0.75);
  	}
  	.icon{
  		width: 64px;
  		height: 64px;
  	}
  	.iconsmall{
  		width: 3em;
  		height: 3em;
  		margin-left: 1.5em;
  		margin-right: 2.5em;
  		margin-bottom: 0.5em;
  	}
  	select {
  		border: 1px solid #bbb;
  		padding:.75em 5em .5em 5em;
  		background-color:#ffffff;
 		color: #333;
 		font-family: 'Roboto Mono', sans-serif;
 		box-shadow:inset 0 2px 1px 0 rgba(0,0,0,0.2);
 		font-weight: bold;
 		font-size: 18px;
  		border-bottom: 3px solid #FE9A2E;
	}
	select:hover{
		border:1px solid #FE9A2E;
  		border-bottom: 3px solid #FE9A2E;
	}
	option {
  		background:#eeeeee;
  		border-top:1px solid #444;
  		padding:.3em 1em .3em 1em;
	}
	input, textarea {
  		font-family: 'Roboto Mono', sans-serif;
 		font-weight: bold;
 		font-size: 18px;
  		background-color:white;
  		border: 1px solid #bbb;
  		padding:.75em 1em .5em 1em;
  		box-shadow:inset 0 2px 1px 0 rgba(0,0,0,0.2);
  		width: 20em;
  		border-bottom: 3px solid #FE9A2E;
  		text-align: middle;
	}
	input:hover, input:active {
  		border:1px solid #FE9A2E;
  		border-bottom: 3px solid #FE9A2E;
	}
	button:disabled{
		background-color: #e2e2e2;
	}
  	